* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --background-gray: #e1e1e6;
  --timeline-white: #f2f9ff;
  --black: #000;
  --gray-3: #8d8d99;
  --button-blue: #3d7fff;
  --avatar-gray: #85bffa;
  --profile-gray: #f2f9ff;
}

body {
  background: rgb(35, 138, 255);
  background: linear-gradient(
    90deg,
    rgba(35, 138, 255, 1) 10%,
    rgba(133, 191, 250, 1) 61%,
    rgba(208, 220, 255, 1) 100%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}
